<h1>Home#index</h1>
<% if user_signed_in? %>
  Hello, <%= current_user.email %>
  want to log out? <%= link_to "click here", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "login", new_user_session_path %> or <%= link_to "register", new_user_registration_path %>
<% end %>
<p>Find me in app/views/home/index.html.erb</p>
